@model IEnumerable<DevCollab.Domain.Entities.Usuario>

@{
    ViewData["Title"] = "ListaAmigos";
}

<h1>Lista de Amigos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Foto
            </th>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.CaminhoFotoPerfil)" style="max-width:350px; height:auto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a asp-controller="SeguidorSeguido" asp-action="Deletar" asp-route-id="@item.Id">Deixar de seguir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
