@model IEnumerable<DevCollab.Domain.Entities.Publicacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Feed</h1>

<p>
    <a asp-action="Create">Criar publicação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Foto Publicada
            </th>
            <th>
                Autor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Texto)" style="max-width:350px; height:auto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Nome)
                </td>
                @if (item.AutorId == ViewBag.AutorId) {
                    <td>
                        <a asp-controller="Publicacao" asp-action="Edit" asp-route-id="@item.IdPublicacao">Editar</a>
                        <a asp-controller="Publicacao" asp-action="Delete" asp-route-id="@item.IdPublicacao">Deletar</a>
                    </td>
                }             
            </tr>
        }
    </tbody>
</table>
